<script type="module">
import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs";

mermaid.initialize({
  startOnLoad: true,
  theme: "base",
  themeVariables: {
    background: "transparent",

    primaryColor: "transparent",
    secondaryColor: "transparent",
    tertiaryColor: "transparent",

    primaryBorderColor: "#ffffff",
    secondaryBorderColor: "#ffffff",
    tertiaryBorderColor: "#ffffff",

    lineColor: "#ffffff",
    textColor: "#ffffff",
    clusterBorder: "#ffffff",

    fontFamily: "IBM Plex Mono, monospace"
  }
});
</script>